BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 628b5fe68e5d

INSERT INTO alembic_version (version_num) VALUES ('628b5fe68e5d') RETURNING alembic_version.version_num;

-- Running upgrade 628b5fe68e5d -> 56034520f738

CREATE TABLE seccion (
    id SERIAL NOT NULL, 
    nombre VARCHAR(100) NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_seccion_nombre UNIQUE (nombre)
);

CREATE INDEX ix_seccion_nombre ON seccion (nombre);

CREATE TABLE ubicacion (
    id SERIAL NOT NULL, 
    nombre VARCHAR(150) NOT NULL, 
    seccion_id INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(seccion_id) REFERENCES seccion (id)
);

CREATE INDEX ix_ubicacion_nombre ON ubicacion (nombre);

CREATE INDEX ix_ubicacion_seccion_id ON ubicacion (seccion_id);

CREATE TABLE equipo (
    id SERIAL NOT NULL, 
    identidad VARCHAR(64) NOT NULL, 
    numero_serie VARCHAR(128), 
    nfc_tag VARCHAR, 
    seccion_id INTEGER, 
    ubicacion_id INTEGER, 
    atributos JSONB, 
    PRIMARY KEY (id), 
    FOREIGN KEY(seccion_id) REFERENCES seccion (id), 
    FOREIGN KEY(ubicacion_id) REFERENCES ubicacion (id), 
    CONSTRAINT uq_equipo_identidad UNIQUE (identidad), 
    CONSTRAINT uq_equipo_nfc_tag UNIQUE (nfc_tag)
);

CREATE INDEX ix_equipo_identidad ON equipo (identidad);

CREATE INDEX ix_equipo_nfc_tag ON equipo (nfc_tag);

CREATE INDEX ix_equipo_numero_serie ON equipo (numero_serie);

CREATE INDEX ix_equipo_seccion_id ON equipo (seccion_id);

CREATE INDEX ix_equipo_ubicacion_id ON equipo (ubicacion_id);

CREATE TABLE incidencia (
    id SERIAL NOT NULL, 
    equipo_id INTEGER NOT NULL, 
    fecha TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    titulo VARCHAR(150) NOT NULL, 
    descripcion VARCHAR(2000), 
    estado VARCHAR NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(equipo_id) REFERENCES equipo (id)
);

CREATE INDEX ix_incidencia_equipo_id ON incidencia (equipo_id);

CREATE TABLE movimiento (
    id SERIAL NOT NULL, 
    equipo_id INTEGER NOT NULL, 
    fecha TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    desde_ubicacion_id INTEGER, 
    hacia_ubicacion_id INTEGER, 
    comentario VARCHAR(500), 
    PRIMARY KEY (id), 
    FOREIGN KEY(desde_ubicacion_id) REFERENCES ubicacion (id), 
    FOREIGN KEY(equipo_id) REFERENCES equipo (id), 
    FOREIGN KEY(hacia_ubicacion_id) REFERENCES ubicacion (id)
);

CREATE INDEX ix_movimiento_desde_ubicacion_id ON movimiento (desde_ubicacion_id);

CREATE INDEX ix_movimiento_equipo_id ON movimiento (equipo_id);

CREATE INDEX ix_movimiento_hacia_ubicacion_id ON movimiento (hacia_ubicacion_id);

CREATE TABLE reparacion (
    id SERIAL NOT NULL, 
    equipo_id INTEGER NOT NULL, 
    fecha_inicio TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    fecha_fin TIMESTAMP WITHOUT TIME ZONE, 
    descripcion VARCHAR(500) NOT NULL, 
    coste FLOAT, 
    PRIMARY KEY (id), 
    FOREIGN KEY(equipo_id) REFERENCES equipo (id)
);

CREATE INDEX ix_reparacion_equipo_id ON reparacion (equipo_id);

UPDATE alembic_version SET version_num='56034520f738' WHERE alembic_version.version_num = '628b5fe68e5d';

-- Running upgrade 56034520f738 -> d38a1a881416

CREATE EXTENSION IF NOT EXISTS citext;;

ALTER TABLE seccion ALTER COLUMN nombre TYPE CITEXT USING nombre::citext;

ALTER TABLE ubicacion DROP CONSTRAINT ubicacion_seccion_id_fkey;

ALTER TABLE ubicacion ADD CONSTRAINT ubicacion_seccion_id_fkey FOREIGN KEY(seccion_id) REFERENCES seccion (id) ON DELETE SET NULL;

ALTER TABLE equipo DROP CONSTRAINT equipo_seccion_id_fkey;

ALTER TABLE equipo ADD CONSTRAINT equipo_seccion_id_fkey FOREIGN KEY(seccion_id) REFERENCES seccion (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='d38a1a881416' WHERE alembic_version.version_num = '56034520f738';

-- Running upgrade d38a1a881416 -> ed60ed7d5bf6

ALTER TABLE equipo DROP CONSTRAINT equipo_ubicacion_id_fkey;

ALTER TABLE equipo ADD FOREIGN KEY(ubicacion_id) REFERENCES ubicacion (id) ON DELETE SET NULL;

CREATE INDEX ix_incidencia_estado ON incidencia (estado);

CREATE INDEX ix_incidencia_fecha ON incidencia (fecha);

CREATE INDEX ix_movimiento_fecha ON movimiento (fecha);

ALTER TABLE reparacion ADD COLUMN titulo VARCHAR(120);

ALTER TABLE reparacion ADD COLUMN estado VARCHAR(20) NOT NULL;

ALTER TABLE reparacion ALTER COLUMN descripcion TYPE VARCHAR(2000);

ALTER TABLE reparacion ALTER COLUMN coste TYPE NUMERIC(10, 2);

CREATE INDEX ix_reparacion_estado ON reparacion (estado);

CREATE INDEX ix_reparacion_fecha_inicio ON reparacion (fecha_inicio);

ALTER TABLE seccion DROP CONSTRAINT uq_seccion_nombre;

DROP INDEX ix_seccion_nombre;

CREATE UNIQUE INDEX ix_seccion_nombre ON seccion (nombre);

UPDATE alembic_version SET version_num='ed60ed7d5bf6' WHERE alembic_version.version_num = 'd38a1a881416';

-- Running upgrade ed60ed7d5bf6 -> a53f45ec0ebf

UPDATE alembic_version SET version_num='a53f45ec0ebf' WHERE alembic_version.version_num = 'ed60ed7d5bf6';

-- Running upgrade a53f45ec0ebf -> 5e978b7f82b3

ALTER TABLE incidencia DROP CONSTRAINT incidencia_equipo_id_fkey;

ALTER TABLE incidencia ADD FOREIGN KEY(equipo_id) REFERENCES equipo (id) ON DELETE CASCADE;

UPDATE alembic_version SET version_num='5e978b7f82b3' WHERE alembic_version.version_num = 'a53f45ec0ebf';

-- Running upgrade 5e978b7f82b3 -> d27726981169

ALTER TABLE movimiento DROP CONSTRAINT movimiento_equipo_id_fkey;

ALTER TABLE movimiento DROP CONSTRAINT movimiento_hacia_ubicacion_id_fkey;

ALTER TABLE movimiento DROP CONSTRAINT movimiento_desde_ubicacion_id_fkey;

ALTER TABLE movimiento ADD FOREIGN KEY(equipo_id) REFERENCES equipo (id) ON DELETE CASCADE;

ALTER TABLE movimiento ADD FOREIGN KEY(hacia_ubicacion_id) REFERENCES ubicacion (id) ON DELETE SET NULL;

ALTER TABLE movimiento ADD FOREIGN KEY(desde_ubicacion_id) REFERENCES ubicacion (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='d27726981169' WHERE alembic_version.version_num = '5e978b7f82b3';

-- Running upgrade d27726981169 -> 7074faab4b5b

ALTER TABLE reparacion DROP CONSTRAINT reparacion_equipo_id_fkey;

ALTER TABLE reparacion ADD FOREIGN KEY(equipo_id) REFERENCES equipo (id) ON DELETE CASCADE;

UPDATE alembic_version SET version_num='7074faab4b5b' WHERE alembic_version.version_num = 'd27726981169';

-- Running upgrade 7074faab4b5b -> c4f2d05cea17

DROP INDEX ix_seccion_nombre;

ALTER TABLE seccion ADD UNIQUE (nombre);

UPDATE alembic_version SET version_num='c4f2d05cea17' WHERE alembic_version.version_num = '7074faab4b5b';

-- Running upgrade c4f2d05cea17 -> 91c8bf68af41

ALTER TABLE usuario ADD COLUMN created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL;

ALTER TABLE usuario ALTER COLUMN username TYPE CITEXT;

DROP INDEX ix_usuario_username;

CREATE INDEX ix_usuario_active ON usuario (active);

CREATE INDEX ix_usuario_role ON usuario (role);

ALTER TABLE usuario ADD UNIQUE (username);

UPDATE alembic_version SET version_num='91c8bf68af41' WHERE alembic_version.version_num = 'c4f2d05cea17';

-- Running upgrade 91c8bf68af41 -> c1b044594b18

ALTER TABLE equipo ADD COLUMN tipo VARCHAR(100) DEFAULT 'Otro';

ALTER TABLE equipo ADD COLUMN estado VARCHAR(20) DEFAULT 'OPERATIVO';

ALTER TABLE equipo ADD COLUMN creado_en TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE equipo ADD COLUMN actualizado_en TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL;

ALTER TABLE equipo ALTER COLUMN identidad TYPE VARCHAR(100);

ALTER TABLE equipo ALTER COLUMN identidad DROP NOT NULL;

ALTER TABLE equipo ALTER COLUMN numero_serie TYPE VARCHAR(150);

UPDATE equipo SET tipo = COALESCE(tipo, 'Otro');;

UPDATE equipo SET estado = COALESCE(estado, 'OPERATIVO');;

ALTER TABLE equipo ALTER COLUMN tipo SET NOT NULL;

ALTER TABLE equipo ALTER COLUMN tipo DROP DEFAULT;

ALTER TABLE equipo ALTER COLUMN estado SET NOT NULL;

ALTER TABLE equipo ALTER COLUMN estado DROP DEFAULT;

CREATE INDEX IF NOT EXISTS "ix_equipo_estado" ON equipo (estado);;

CREATE INDEX IF NOT EXISTS "ix_equipo_tipo" ON equipo (tipo);;

CREATE INDEX IF NOT EXISTS "ix_equipo_estado_tipo" ON equipo (estado, tipo);;

CREATE UNIQUE INDEX IF NOT EXISTS ux_equipo_identidad_ci
            ON equipo (LOWER(identidad)) WHERE identidad IS NOT NULL;;

CREATE UNIQUE INDEX IF NOT EXISTS ux_equipo_nfc_tag_ci
            ON equipo (LOWER(nfc_tag)) WHERE nfc_tag IS NOT NULL;;

DROP INDEX IF EXISTS "ix_equipo_numero_serie";;

ALTER TABLE "equipo" DROP COLUMN IF EXISTS "atributos";;

ALTER TABLE "equipo" DROP CONSTRAINT IF EXISTS "uq_equipo_identidad";;

ALTER TABLE "equipo" DROP CONSTRAINT IF EXISTS "uq_equipo_nfc_tag";;

DO $$
            BEGIN
                IF NOT EXISTS (
                    SELECT 1 FROM pg_constraint
                    WHERE conname = 'ck_equipo_estado'
                ) THEN
                    ALTER TABLE equipo
                    ADD CONSTRAINT ck_equipo_estado
                    CHECK (estado in ('OPERATIVO','MANTENIMIENTO','BAJA','CALIBRACION','RESERVA'));
                END IF;
            END $$;;

ALTER TABLE incidencia ADD COLUMN actualizada_en TIMESTAMP WITH TIME ZONE DEFAULT now();

ALTER TABLE incidencia ADD COLUMN cerrada_en TIMESTAMP WITH TIME ZONE;

ALTER TABLE incidencia ADD COLUMN cerrada_por_id INTEGER;

ALTER TABLE incidencia ADD COLUMN usuario_id INTEGER;

ALTER TABLE incidencia ADD COLUMN usuario_modificador_id INTEGER;

ALTER TABLE incidencia ALTER COLUMN fecha TYPE TIMESTAMP WITH TIME ZONE;

ALTER TABLE incidencia ALTER COLUMN fecha DROP NOT NULL;

ALTER TABLE incidencia ALTER COLUMN fecha SET DEFAULT now();

ALTER TABLE incidencia ALTER COLUMN descripcion TYPE TEXT;

DROP INDEX IF EXISTS "ix_incidencia_equipo_id";;

DROP INDEX IF EXISTS "ix_incidencia_estado";;

DROP INDEX IF EXISTS "ix_incidencia_fecha";;

CREATE INDEX IF NOT EXISTS "ix_incidencia_equipo_estado_fecha" ON incidencia (equipo_id, estado, fecha);;

CREATE INDEX IF NOT EXISTS "ix_incidencia_equipo_fecha" ON incidencia (equipo_id, fecha);;

CREATE INDEX IF NOT EXISTS "ix_incidencia_estado_fecha" ON incidencia (estado, fecha);;

ALTER TABLE incidencia ADD CONSTRAINT IF NOT EXISTS "inc_usuario_modificador_fk" FOREIGN KEY (usuario_modificador_id) REFERENCES usuario(id) ON DELETE SET NULL;;

ALTER TABLE incidencia ADD CONSTRAINT IF NOT EXISTS "inc_cerrada_por_fk" FOREIGN KEY (cerrada_por_id) REFERENCES usuario(id) ON DELETE SET NULL;;

ALTER TABLE incidencia ADD CONSTRAINT IF NOT EXISTS "inc_usuario_fk" FOREIGN KEY (usuario_id) REFERENCES usuario(id) ON DELETE SET NULL;;

DO $$
            BEGIN
                IF NOT EXISTS (
                    SELECT 1 FROM pg_constraint
                    WHERE conname = 'ck_incidencia_estado'
                ) THEN
                    ALTER TABLE incidencia
                    ADD CONSTRAINT ck_incidencia_estado
                    CHECK (estado in ('ABIERTA','EN_PROGRESO','CERRADA'));
                END IF;
            END $$;;

ALTER TABLE movimiento ADD COLUMN actualizado_en TIMESTAMP WITH TIME ZONE DEFAULT now();

ALTER TABLE movimiento ADD COLUMN usuario_id INTEGER;

ALTER TABLE movimiento ALTER COLUMN fecha TYPE TIMESTAMP WITH TIME ZONE;

ALTER TABLE movimiento ALTER COLUMN fecha DROP NOT NULL;

ALTER TABLE movimiento ALTER COLUMN fecha SET DEFAULT now();

DROP INDEX IF EXISTS "ix_movimiento_equipo_id";;

CREATE INDEX IF NOT EXISTS "ix_movimiento_equipo_fecha" ON movimiento (equipo_id, fecha);;

ALTER TABLE movimiento ADD CONSTRAINT IF NOT EXISTS "mov_usuario_fk" FOREIGN KEY (usuario_id) REFERENCES usuario(id) ON DELETE SET NULL;;

CREATE INDEX IF NOT EXISTS "ix_movimiento_fecha" ON movimiento (fecha);;

UPDATE alembic_version SET version_num='c1b044594b18' WHERE alembic_version.version_num = '91c8bf68af41';

COMMIT;

